html {
  font-family:Courier;
}
body {
  background-color:black;
  color:white;
}
h1, h2 {
  font-size:1em;
  cursor:pointer;
}
#content{
  position:relative;
  top:5px;
}
span:hover {
  cursor:pointer;
  font-weight:bold;
}

a {
  color:lightblue;
  font-weight:bold;
}
iframe { 
  padding:1%;
  border-color:black;
}
#backvideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}