h1, h2, h3, h4, h5, h6{
  cursor:pointer;
  margin:3px 0;
  padding:0;
}
h1 {
  font-size:0.8em;
}
#menuHeader {
  margin:0;
  padding:0;
  position:fixed;
  top:0;
  left:0;
}
article, footer{
  padding-top:5px;
  margin:0;
  border-radius:3px;
}
button {
  padding:3px 5px;
  font-size:0.8em;
  margin:5px 10px 10px 0px;
  border-radius:4px;
  background-color:#EEE;
}
button:hover {
  background-color:lightblue;
  cursor:pointer;
}
button:focus {
  background: lightblue;
  outline:none;
}
span:hover, img:hover, a:hover{
  cursor:pointer;
  text-decoration:underline;
}
a {
  color:lightblue;
}
a:focus{
  outline:none;
}
ul {
  list-style: none;
}
#bkvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}
.sidenote {
  text-align:right;
  font-style:italic;
}
.formlink{
  padding:3% 1%;
  font-weight:bold;
  font-size:0.7em;
}
select{
  display:block;
  padding:0.8%;
  margin-right:1%;
  font-size:0.8em;
  width:inherit;
}
footer {
  position:relative;
  right:0;
}