html {
	min-height:800px;
	font-family:Courier;
}
body {
	background:url('./img/bk0.png'), url('./img/bk1.png'), url('./img/bk2.png'),url('./img/favicon-1.png');
	background-position:top, bottom, left, right;
	background-color:grey;
	background-repeat:repeat;
	min-height:800px;
}
h1, h2 {
	font-size:1em;
	background:white;
	border-radius:3px;
}
h3, h4, h5, h6, p, br, li {
	background:white;
	padding:3px;
	border-radius:3px;
}
#menu{
	position:relative;
	top:0;
	right:0;
	z-index:1000;
	background:white;
	border-radius:3px;
}
#content{
	position:relative;
	top:5px;
}
#content-wrap{
	position:relative;
}
ul {
	list-style-type: none;
}
a {
	text-decoration:none
	color: black;
	font-weight:bold;
}
a:hover, .menulink:hover {
	text-decoration:underline;
}
#languages {
	cursor:pointer;
	position:relative;
	float:right;
	margin-right:20px
}
.fd{
	position:fixed;
	bottom:-10px;
	right:0;
	z-index:-1;
}
.vid {
	position:relative;
	padding:20px;
}
